.body{
    background-color: #F5FFF5;
    padding: 10px;
    overflow-x: hidden;
}

.prologue{
    margin: 10px;
}

.sort{
    position: absolute;
    right: 15px;
}

.button{
    background-color: #defdde;
    border-width: 1px;
    border-radius: 10px;
    margin: 3px;
    transition: all .2s ease;
}

@media (width <= 600px) {
    .button {
        width: calc(50% - 6px);
    }
}

@media (600px <= width <= 800px) {
    .button {
        width: calc(33.3% - 6px);
    }
}

@media (800px <= width <= 1100px) {
    .button {
        width: calc(25% - 6px);
    }
}

@media (1100px <= width) {
    .button {
        width: calc(16.6% - 6px);
    }
}

.button:hover {
    background-color: #FFCC66;
    opacity: 0.6;
    transform: scale(1.1) translate(5px);
}

.scroll-element {
    opacity: 0;
    transition: opacity 3s;
}

.scroll-element.in-view {
    opacity: 1;
}
