.home {
    background-color: #defdde;
    border-width: 1px;
    padding: 10px;
    font-size: calc(10px + 2vmin);
    position: absolute;
    right: 15px;
    
}

.home:hover {
    background-color: #FFCC66;
    opacity: 0.8;
    transform: scale(1.1) translate(5px);
}